


<div class ="jumbotron center">


<div class="welcome"> Welcome to Twitest</div>
<p>This is the sample application being developed using michael heartl </p>



<%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>
</div>